// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  background: url(/assets/images/portcanaveral-crop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h4 {
  font-weight: bold;
}

hr {
  border-style: solid;
  border-color: rgb(220, 220, 235);
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px
}

.home {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.h-entry {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.homecolumn {
  float: left;
}

.postcolumn {
  flex: 50%;
  padding: 10px;
}

.homeleft {
  width: 65%;
  margin-right: 10px;
}

.homeright {
  width: 25%;
}

.homerow {
  border-bottom-style: solid;
  border-bottom-color: rgb(220, 220, 235);
  border-bottom-width: 1px;
  margin-bottom: 10px;
}

/* Clear floats after the columns */
.homerow:after {
  content: "";
  display: table;
  clear: both;
}

.postrow {
  display: flex;
  margin-bottom: 10px;
}

.description {
  float: right;
}




@media screen and (max-width: 600px) {
  .homeleft {
    width: 100%;
  }

  .homeright {
    width: 100%;
  }

  .postrow {
    margin-bottom: 10px;
  }

  .description {
    line-height: 18px;
  }
}
